<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="two_link_manipulator">
    <!-- メカ構造の読み込み -->
    <xacro:include filename="$(find mypkg)/urdf/two_link_manipulator_mech.urdf.xacro"/>
    
    <!-- コントローラ設定の読み込み -->
    <xacro:include filename="$(find mypkg)/urdf/two_link_manipulator_control.urdf.xacro"/>
</robot> 